<div class="course-card" *ngIf="course"
    [ngClass]="cardClasses()">
<!-- Adding on course-card [ngStyles]="cardStyles" and removing img and ng-template #noImage -->
<!-- Images are posted as background images -->
    <div class="course-title">
        {{ cardIndex + ' ' + course.description }}
    </div>

    <img width="300" alt="Angular Logo" *ngIf="isImageVisible(); else noImage"
        [src]="course.iconUrl">

    <ng-template #noImage>
        <p>No image</p>
    </ng-template>
    

    <div class="course-description">
        {{course.longDescription}}
    </div>

    <button (click)="onCourseViewed()">View Course</button>

</div>
